*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0 20%;
    background-color: #f4f4f4;

}

.footer{
    height: 10vw;
    border-top: 1px solid lightgray;
}

.main{
    min-height: 70vh;
}



.post-container{
    padding: 1rem 2rem;
}

.photo-container{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    grid-template-columns: repeat(4, 13rem);

}
.wrapper{
    background-color: #efefef;
    border: 1px solid lightgray;
    border-top: none;

}







